<% include ../partials/head %>
<div class="fluid-container" style="padding-bottom: 0;">
	<div class="container">
		<div class="col">
			<h1 class="title main__title text-center pt-4">News</h1>
		</div>
		<h1 class="title main__title pt-4" style="font-size: 20px; margin-bottom: 30px">
			Search News
		</h1>
		<form action="/news" method="post">
			<div class="row">
				<div class="col-lg-3">
					<input class="search-input mb-4" name="query" id="txt" type="text"
						placeholder="What are you looking for?" />
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<select class="form-control" name="category">
							<option value="business">Business</option>
							<option value="entertainment">Entertainment</option>
							<option value="general">General</option>
							<option value="health">Health</option>
							<option value="science">Science</option>
							<option value="sports">Sports</option>
							<option value="technology">Technology</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3">
					<button type="submit" class="btn btn-outline-dark sub_btn custom_btn btn-block">
						Search
					</button>
				</div>
			</div>
		</form>

		<div>
			<div class="recommended-news" style="display: block">
				<h1 class="title main__title pt-4" style="font-size: 20px; padding: 0; margin: 0;">
					News:
				</h1>
				<div class="row mt-4">
					<% if(news.length !== 0){ news.forEach(news => { %>
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top" <% if(news.urlToImage ==
							null) { %> src="../../assets/images/news.png" <% }
							else { %> src="<%=news.urlToImage%>" <% } %>>
							<h4 class="card-title mt-2"><%=news.title%></h4>
							<p class="card-block">
								<strong class=" description">Description: </strong><%=news.description%>
							</p>
							<p class="card-block">
								<strong class=" description">Date: </strong><%=news.publishedAt%>
							</p>
							<p class="card-block">
								<strong class=" description">Author: </strong><%=news.author%>
							</p>
							<p class="card-block">
								<strong class=" description">Source: </strong><%=news.source.name%>
							</p>
							<a class="btn-more text-center" href="<%=news.url%>" target="_blank">See More</a>
						</div>
					</div>
					<% }) } else { %>

					<div class="col-lg-12">
						<h1 class="title main__title text-center pt-4">
							No Results!
						</h1>
					</div>

					<% }%>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../partials/footer %>